<form (submit)="onSubmit()">
  <label>
    ID:
    <input type="number" [(ngModel)]="id" name="id">
  </label>
  <label>
    Title:
    <input type="text" [(ngModel)]="title" name="title">
  </label>
  <label>
    Description:
    <input type="text" [(ngModel)]="description" name="description">
  </label>
  <label>
    ImgURL:
    <input type="text" [(ngModel)]="imgURL" name="imgURL">
  </label>
  <label>
    Type:
    <input type="text" [(ngModel)]="type" name="type">
  </label>
  <label>
    Tags:
    <input type="text" [(ngModel)]="tags" name="tags">
  </label>
  <label>
    Creator:
    <input type="text" [(ngModel)]="creator" name="creator">
  </label>
  <button type="submit">Submit</button>
</form>
