/*.card {
  width: 400px;
  padding: 15px;
  min-height: 540px;
  margin-bottom: 15px;
  border: 1px solid gray;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.noContentType {
    color: #74F0ED;
    background-color: black;
  }

  &.superSport {
    color: #5ebec4;
    background-color: #fdf5df;
  }

  &.nakedSuperSport {
    color: #000;
    background-color: #a0aecd;
  }

  &.oneCar {
    box-shadow: 0px 0px 24px 5px #8dda24;
  }

  &.matched {
    border: 5px solid #7dffcd;
    transform: scale(1.08);
    box-shadow: 1px 1px 30px #00fa9a;
  }


  img {
    max-width: 100%;
    cursor: pointer;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0px;
    text-align: justify;
  }
}

.card.hoverBorder {
  border: 1px solid red;
}
*/

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.card-img {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-img img {
  width: 300px;
  height: 200px;
    // max-height: 100%;
  // max-width: 100%;
  // object-fit: contain;
  // cursor: pointer;
}

.card-body {
  font-size: 1.2rem;
}

.card-body h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.card-body p {
  margin-top: 0;
  margin-bottom: 5px;
}

.card-body strong {
  font-weight: bold;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.card-body p:nth-child(4) {
  margin-top: 10px;
}

.card-body p strong {
  margin-right: 5px;
}

.card-body p span {
  margin-right: 5px;
}

.card-body p span:last-child {
  margin-right: 0;
}

.card-body p[appHoverAffect="underline"]:hover {
  text-decoration: underline;
}

.card-body p span[appHoverAffect="bold"]:hover {
  font-weight: bold;
}
