.messages-sec {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.messages {
  font-size: 16px;
  line-height: 1.5;
}

.messages h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.clrBtn {
  text-align: right;
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}

button:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
